<div style="border-bottom:0.7px solid rgb(219, 219, 221);">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Instagm</ion-title>
  </ion-toolbar>
</div>

<ion-content>
  <ion-grid no-padding>
    <ion-row
      *ngFor="let pst of posts"
      style="border-bottom:1px solid rgb(219, 219, 221); padding-bottom: 1;"
    >
      <ion-col style="padding: 0px 0px 0px 0px;">
        <ion-list style="padding-top: 0px">
          <ion-item-group>
            <ion-item-divider style="padding-left: 8px;">
              <ion-avatar style="border:1px solid black;">
                <img src="{{ pst.image }}" />
              </ion-avatar>

              <ion-label style="padding-left: 10px; color:'dark';">
                <b>{{ pst.user }}</b>
              </ion-label>
            </ion-item-divider>
            <div>
              <!-- <ion-item ion-no-padding> -->
              <ion-img src="{{ pst.image }}"></ion-img>
              <!-- </ion-item> -->
            </div>
            <div style="padding-top: 7px; padding-left: 3px;">
              <ion-buttons>
                <ion-button slot="start" style="padding-left: 0px;">
                  <ion-icon
                    slot="icon-only"
                    name="heart-empty"
                    style="font-size: 32px;"
                  ></ion-icon>
                </ion-button>
                <div>
                  <ion-button slot="start" style="padding-left: 0px;">
                    <ion-icon
                      slot="icon-only"
                      name="thumbs-up"
                      style="font-size: 32px;"
                    ></ion-icon>
                  </ion-button>
                </div>
                <div>
                  <ion-button slot="start" style="padding-left: 0px;">
                    <ion-icon
                      slot="icon-only"
                      name="thumbs-down"
                      style="font-size: 32px;"
                    ></ion-icon>
                  </ion-button>
                </div>
              </ion-buttons>
            </div>
            <!-- <ion-list > -->
            <!-- *ngFor="let i of pst.comments" -->
            <!-- <ion-item *ngFor="let i of pst.comments"> -->
            <div *ngIf="pst.comments" style="padding-top: 8px">
              <div style="padding-left: 16px;">
                <b style="text-transform: lowercase; font-size:15px">1 like</b>
              </div>
              <div *ngFor="let i of pst.comments" style="padding-left: 16px;">
                <ion-label
                  style="margin-top:1px; margin-bottom:2px; padding-right: 70px; font-size:15px"
                >
                  <b style="text-transform: lowercase;">James</b> {{ i.text }}
                </ion-label>
              </div>

              <!-- <ion-item >
                
              </ion-item> -->
            </div>

            <!-- </ion-list> -->
            <ion-item>
              <ion-avatar
                style="border:1px solid black; width: 30px; height:30px"
              >
                <ion-img src="{{ pst.image }}"></ion-img>
              </ion-avatar>
              <ion-item>
                <ion-input
                  type="text"
                  placeholder="Add a comment"
                  [formControl]="comment_to_post"
                  autofocus
                ></ion-input>
              </ion-item>
              <!-- <ion-button slot="end" color="dark">
                <ion-icon  name="send"></ion-icon>
              </ion-button> -->

              <ion-buttons slot="end">
                <ion-button style="margin-left:0px">
                  <ion-icon
                    slot="icon-only"
                    name="send"
                    style="font-size: 25px;"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <!-- <hr style="margin-top:0px; border: 0; border-top: 1px solid #cccccc;"> -->
    </ion-row>
  </ion-grid>
  <!-- <ion-button expand='full' (click)="onClick()">Click</ion-button>
  <ion-list>
    
    <ion-item *ngFor="let ph of photoArr">
        <ion-card>
        <ion-label text-wrap>
            <h2>{{ ph.id }} </h2>
            <h2>{{ ph.photoURL }} </h2>
            <h2>{{ ph.thumbnailURL }} </h2>
            <h2>{{ ph.fileName }} </h2>
            <h2>{{ ph.creationDate }} </h2>
        </ion-label>
      </ion-card>
    </ion-item>
    
  </ion-list> -->
</ion-content>
